{% extends 'base.html.twig' %}

{% block title %}
    BizShop - Home
{% endblock %}

{% block body %}


    {% include 'nav.html.twig' %}
    <div class="container" style="margin-top:20px;">
        <div class="row">
            <div class="col"></div>
            <div class="col-10">

                {% include 'flash.html.twig' %}

                <h1>
                    Hello Welcome to Home! ✅
                </h1>

                This friendly message is coming from:BizShop
                            
            </div>
            <div class="col"></div>
        </div>
    </div>

    {% include 'foot.html.twig' %}
{% endblock %}
