{% extends 'base.html.twig' %}

{% block title %}
    Product - {% block method_title %}{% endblock %}
{% endblock %}

{% block body %}
    {% include 'nav.html.twig' %}
    <div class="container" style ="margin-top:20px;">
        <div class="row">
            <div class="col"></div>
            <div class="col-10">

                {% include 'flash.html.twig' %}
                {% block method_body %}{% endblock %}
            </div>
            <div class="col"></div>
        </div>
    </div>

    {% include 'foot.html.twig' %}
{% endblock %}
